<main>
    <section class="intro">
        <h1>What is a palindrome?</h1>
        <p>A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; only alphanumeric characters matter). For example, the following phrases are palindromes:
        <ul>
            <li>Madam</li>
            <li>Was it a cat I saw?</li>
            <li>He did, eh?</li>
            <li>Go hang a salami, I’m a lasagna hog.</li>
            <li>Poor Dan is in a droop</li>
            <li>Taco cat? Taco cat.</li>
        </ul>
        Go ahead, test some below!</p>
    </section>
    <section class="user-input">
        <form method="POST" action="/result">
            <label for="text-to-test">Test Your Palindrome Below:</label>
            <br>
            <input type="text" id="text-to-test" name="text-to-test" autocomplete="off"/>
            <br>
            <button type="submit">Test!</button>
        </form>
    </section>
</main>